#time-picker input {
  border: 1px solid #d9d9d9;
  padding: 5px 10px;
}

#time-picker .tp-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#time-picker .tp-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

#time-picker .tp-wrapper {
  position: absolute;
  z-index: 1;
  gap: 1rem;
  background: white;
  border-radius: 0.25rem;
  padding: 1rem;
  align-items: center;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.15),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
#time-picker .tp-wrapper * {
  font-weight: 500;
}

#time-picker .number-input {
  width: 3rem;
  text-align: center;
}

#time-picker .indicator {
  cursor: pointer;
  display: inline-block;
  width: 7px;
  height: 7px;

  border-top: 2.5px solid rgb(190, 3, 3);
  border-right: 2.5px solid rgb(190, 3, 3);
  transition: all 0.15s ease;
}

#time-picker .indicator:hover {
  border-top: 2.5px solid rgb(165, 4, 4);
  border-right: 2.5px solid rgb(165, 4, 4);
}

#time-picker .triangle-up {
  transform: rotate(-45deg);
}

#time-picker .triangle-down {
  transform: rotate(135deg);
}

/* Chrome, Safari, Edge, Opera */
#time-picker input::-webkit-outer-spin-button,
#time-picker input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#time-picker input[type="number"] {
  -moz-appearance: textfield;
}
